body{
    border: 5px groove rgb(117, 161, 205);
    margin: 15px 10px 20px 15px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(bgcolor.jpg);
   
} 
h1{
    text-align: center;
    
}
form{
    border: 3px ridge rgb(64, 59, 95);
    outline: 2px solid rgb(78, 193, 193);
    padding: 20px 40px 35px 40px;
    margin: 50px 60px 50px 70px;
    box-sizing: content-box;
    overflow: hidden;
    font-size: medium;
    font-family :sans-serif;
    box-shadow: 3px 4px 8px 15px #3a707b;
   background: linear-gradient(68.4deg, rgb(248, 182, 204) 0.5%,
 rgb(192, 198, 230) 49%, rgb(225, 246, 240) 99.8%);
   text-decoration-color: #a8d0d8;
}
form input{
    border: 3px solid rgb(36, 210, 155);
    box-sizing :border-box;
    box-shadow:1px 2px 2px 1.5px #271f42;
    font-style:normal;
    border-radius: 16%;
}
