@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Clicker+Script&family=Lobster&family=Poppins:ital,wght@0,300;0,500;600;700&family=Ultra&display=swap');

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
body.dark{
   background-color: #6f7272;
   color: #df4475;
   
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before, ::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section{
    background-color: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
    min-height: 100vh;
    display: block; 
    padding: 0 30px;
    opacity:1 ;
    
}
.hidden{
    display: none !important;

}
.main-content{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;

}
.section-title{
    flex:  0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    
}
.section-title h2{
    font-size: 40px;
    color: #48494b;
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: ' ';
    height: 4px;
    width: 50px;
    background-color: #cc255a ;
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: ' ';
    height: 4px;
    width: 25px;
    background-color: #cc255a ;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background:#e65c88;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
}
.shadow-dark{
    box-shadow: 0 0 20px rgba(45,46,77,0.15);
}
/* side */
.side{
    width: 270px;
    background-color: linear-gradient(135deg, #909aaa 0%, #819b87 100%);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px  solid #aca9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.side .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.side .logo a{
  color: linear-gradient(68.8deg, rgba(0, 0, 0, 0.95) 1.8%, rgb(0, 55, 79) 31.8%, rgb(9, 93, 134) 56.2%, rgb(15, 155, 217) 89%);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.side .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}
.side .logo a::before{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #cc255a;
    border-left: 5px solid #cc255a;
    bottom: 0;
    left: 0;
}
.side .logo a::after{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #cc255a;
    border-right: 5px solid #cc255a;
    top: 0;
    right: 0;

}
 .side .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid #aca9a9;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 200px;
    border-radius: 5px;
    background-color: linear-gradient(178.6deg, rgb(243, 245, 245) 11.8%, rgb(216, 221, 226) 83.8%);
    display: flex;
    align-items: center;
    justify-content: center;
}  */
 .side .nav-toggler span{
    height: 2px;
    width: 18px;
    background:#cc255a;
    display: inline-block;
}
.side .nav-toggler span::before{
    content: ' ';
    height: 2px;
    width: 18px;
    background: #cc255a;
    position: absolute;
    top: -6px;
    left: 0;
}
.side .nav-toggler span::after{
    content: ' ';
    height: 2px;
    width: 18px;
    background: #cc255a;
    position: absolute;
    top: 6px;
    left: 0;
} */
.side .nav{
    margin-top: 50px;
}
.side .nav li{
    margin-bottom: 20px;
    display: block;
}
.side .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid  #e7cdcd;
    color: #232425;
    padding: 5px 15px ;
}
.side .nav li a.active{
    color: #cc255a;

}
.side .nav li a i{
    margin-right: 15px;
}
.home{
    min-height: 100vh;
    display: flex;
    color: #48494b;

}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script' , cursive ;
    font-size: 30px;
    font-weight: 700;
    color: #cc255a;
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}

.typing{
    color: #e65c88;
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: #48494b;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home .home-img::after{
    content: ' ';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid #cc255a;
    border-right: 10px solid #cc255a;
    right: 20px;
    bottom: -40px;
}
.home .home-img::before{
    content: ' ';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid #cc255a;
    border-left: 10px solid #cc255a;
    left: -20px;
    top: -40px;
}
.home .home-img img{
    height: 400px;
    margin: auto;
    border-radius: 5px;
}
/* About */
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
  
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color:#48494b;

}
  .about .about-content .about-text h3 span{
    color: #df4173;
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #752740;
}
.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50;
   
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #48494b;
    border-bottom: 1px solid rgb(173, 226, 222);
} 
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: #222020;
    margin-left: 4px;
    display: inline-block;
    
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40;
    margin-top: 40px;
}
.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
   
} 
.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #752740;
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
    background-color: #eeadc2;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #c60b46;
}
.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: #48494b;
    top: -40px;
    font-weight: 400;
    line-height: 40px;

}
.about .about-content .education,
.about .about-content .experience{
   flex: 0 0 50%;
   max-width: 50%;
   margin-top: 30px;
  
}
.about .about-content h3.title{
   font-size: 24px;
   margin-bottom: 30px;
   font-weight: 700;
   color: #2f2d2d;
}
.about.about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about.about-content .timeline{
    background-color: #752740;
    padding: 30px 15px;
    border: 1px solid rgb(123, 98, 98);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .timeline-box{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item :last-child{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
    content: ' ';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #c60b46;

}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;

}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: #2a121c;

}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;

}
.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #752740;
    
}
.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: #77797c;
}

/* Project */
.project .project-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.project .project-heading h2{
    color: #df4173;
    font-weight: 500;
}
.project .container{
    padding-bottom: 40px;

}
.project .project-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
 
.project .project-item-inner{
    border: 6px solid #2f2d2d;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.project .project-item-inner .project-img img{
    width: 100%;
    display: block;
}

/* contact */
.contact-title{
    color: #cc255a;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: #f03d26;
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon .fa{
   font-size: 25px;
   color: #bb3d65;
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: #41464f;
    text-transform: capitalize;
    margin: 15px 0  5px;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;

}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
   
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #e65c88;
   
}
.contact .contact-form .form-item{
   margin-bottom: 30px;

}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #f1eaeb;
    border: 1px solid #575d65;
    padding: 10px 25px;
   font-size: 16px;
   color: #a5254d;
   transition: all 0.3s ease;

}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.contact .contact-form .form-item textarea .form-control{
  height: 140px;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}
@media( max-width:1199px){
  .side{
    left: -270px;
  }
  .main-content{
    padding-left: 0;
  }
  .about .about-content .personal-info .info-item p span{
    display: block;
    margin-left: 0;
  }
}
@media( max-width:991px){
   .contact .contact-info-item,
  .project .project-item,
  .home .home-info{
    flex: 0 0 100%;
    max-width: 100%;

  }
  
  .home .home-img{
    display: none;
  }

}
@media( max-width:767px){
    .contact .contact-form .col-6
    .contact .contact-info-item,
    .project .project-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
   .about .about-content .personal-info{
    flex: 0 0 100%;
    max-width: 100%;
   }
}
